@import url('https://fonts.googleapis.com/css?family=Staatliches');



.loader {
  position: fixed;
  left: 0;
  top: 0;
  background: black;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards;
}

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 8vmax;
  display: flex;

  animation: colorChange .5s linear 3.1s forwards;
}

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.loading-text {
  /* font-family: california; */

  width: 0;
  overflow: hidden;
  animation: expand 1s linear 1.5s forwards;
  white-space: nowrap;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



@keyframes scaleText {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

@keyframes expand {
  from {width: 0;}
  to {width: 50vmax;}
}

@keyframes backgroundChange {
  from {background-color: black}
  to {background-color: rgb(1, 1, 1)}
}

@keyframes colorChange {
  from {color: white}
  to {color: white}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {
    opacity: 0; 
    z-index: -1;
  }
}
